article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: \201c \201d \2018 \2019;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,html input[type=button],/* 1 */input[type=reset],input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
figure {
  margin: 0;
}
legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* BASE STYLES */

html {
  font-size: 125%;
}

body {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  background: #6a8d73;
  color: #12100e;
  position: relative;
}

.wrapper {
  max-width: 1100px;
  width: 95%;
  margin: 0 auto;
}

h1 {
  color: #f4fdd9;
  margin: 10px 0;
}

p {
  margin: 0;
}

/* HEADER STYLES */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* CARD STYLES */

.cardContainer {
  display: flex;
  justify-content: center;
  position: relative;
}

.card {
  border: 1px solid black;
  padding: 15px;
  margin: 20px;
  background: #f4fdd9;
  border-radius: 2px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 0 1 450px;
  min-height: 300px;
  box-shadow: 4px 3px 0 #f4fdd971;
}

/* .card:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #f3f8e5;
  position: absolute;
  top: 3px;
  right: -6px;
  z-index: -1;
  border: 2px solid black;
} */

/* .card:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #f3f8e5;
  position: absolute;
  top: 4px;
  right: -7px;
  z-index: -2;
  border: 2px solid black;
} */

.topic {
  position: absolute;
  font-size: 0.5rem;
  text-transform: uppercase;
  padding: 5px 10px;
  border-radius: 10px;
  line-height: 1;
  top: 10px;
  left: 10px;
  text-align: center;
}

/* topic flag colours */
.html {
  background: lightskyblue;
}
.css {
  background: lightgreen;
}
.javascript {
  background: lightpink;
}

.blur {
  text-shadow: 0 0 8px #000;
  color: transparent;
}

/*  FORM STYLES */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
}

/* prevents outline around input after form submission */
/* *:required {
  border: none;
  box-shadow: none;
} */

form input[type="text"] {
  background: none;
  border: none;
  border-bottom: 2px solid black;
  margin-bottom: 20px;
  padding: 10px 0;
  width: 100%;
}

select {
  background: none;
  border: none;
  border-bottom: 2px solid black;
  margin-bottom: 20px;
  padding: 10px 0;
  appearance: none;
  position: relative;
  color: #12100e;
}

button.addCard {
  padding: 10px 20px;
  border: none;
  border-radius: 2px;
  background: #f0a868;
}

/* MODAL STYLES */

.modalContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  max-width: 500px;
  width: 90%;
  background: white;
  padding: 2%;
  border-radius: 5px;
  position: relative;
}

/* BUTTON STYLES */

button.close {
  border: none;
  background: none;
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 1.5rem;
  color: #6a8d73;
}

button.close:hover,
button.close:active {
  color: #f0a868;
}

button.toggleAnswer {
  border: none;
  border-radius: 2px;
  font-size: 0.8rem;
  padding: 5px 10px;
  background: #ffe8c2;
}

.buttonContainer {
  display: flex;
}

.changeCard {
  background: #f0a868;
  border: none;
  padding: 3px 10px;
  box-shadow: 2px 2px 0 #f4fdd9;
  margin: 10px;
  transition: all 0.2s linear;
  border-radius: 2px;
}

.changeCard:hover,
.changeCard:focus {
  box-shadow: none;
}
.changeCard:active {
  transform: scale(0.95);
}

.changeCard:disabled {
  background: #f0a76881;
  box-shadow: none;
}

.openModal {
  height: 100px;
  width: 100px;
  border: none;
  border-radius: 50%;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  background: #f4fdd9;
  box-shadow: 0px 0px 4px 2px #f0a868;
  transition: all 0.2s linear;
}

.openModal:hover,
.openModal:focus {
  box-shadow: none;
}
